* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    image-rendering: -webkit-optimize-contrast;
    min-width: 820px;
}

.app-container {
    width: 100%;
    height: 100vh;
    background: rgb(0,149,135);
    background: linear-gradient(180deg, rgba(0,149,135,1) 20%, rgba(213,218,216,1) 20%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.interface-container {
    width: 80%;
    height: 95%;
    min-width: 800px;
    background-color: #fff;
    display: flex;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.user-names-text {
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.user-avatar {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}
.user-avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.last-access {
    font-size: 12px;
    color: #b1b1b1;
    font-weight: 400;
    margin-top: 3px;
}

/* NAVIGATION LEFT */
.nav-left {
    /* width: 350px; */
    min-width: 320px;
    width: 32%;
    height: 100%;
    overflow-y: hidden;
}

/* User Name */
.user-name {
    height: 65px;
    background-color: #eaeaea;
    border-right: 1px solid #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.user-name .text-avatar-container {
    display: flex;
    align-items: center;
}
.user-name .user-avatar {
    height: 45px;
    width: 45px;
    margin-right: 10px;
}

.user-name-icons i {
    cursor: pointer;
    margin: 0 5px;
    color: #b1b1b1;
}

/* Notifications */
.notifications {
    height: 75px;
    background-color: #8edafb;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.bell-container {
    height: 50px;
    width: 50px;
    background-color: #f3fbfe;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}
.bell-container i {
    line-height: 50px;
    display: block;
    font-size: 24px;
    color: #8edafb;
}

.receive-notifications {
    font-size: 14px;
}
.activate-notifications a {
    font-size: 12px;
    font-weight: 400;
    color: #4f7585;
    display: block;
    margin-top: 3px;
}
/* Search Chat */
.search-chat {
    height: 50px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    padding: 10px;    
}
.search-chat .search-container {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #f5f5f5;
}
.search-chat input {
    width: 100%;
    height: 100%;
    border-width: 0;
    padding: 5px 0;
    font-family: 'Roboto';
    outline: none;
}
.search-chat .search-icon {
    background-color: #fff;
    padding: 5px 10px; 
    color: #b1b1b1;   
    cursor: pointer; 
    font-size: 16px;
}

/* Contact List */
.contact-list {
    height: calc( 100% - 190px );
    background-color: #fff;
    overflow-y: auto;
}
/* Single Contact */
.contact-list .single-contact {    
    border-top: 1px solid #e9ebeb;
    cursor: pointer;    
}
.contact-list .single-contact .contact-active-container {
    display: flex;
    padding: 12px 10px;
    position: relative;
    overflow-x: hidden;
}
.contact-list .single-contact:first-child {
    border-top: none;
}
.contact-list .single-contact:hover {
    background-color: #e9ebeb;
}
.contact-list .single-contact.active {
    background-color: #e9ebeb;
}

.contact-list .single-contact .user-names-text {
    padding-left: 10px;
    font-size: 16px;
    width: calc(100% - 65px);
}
.contact-list .single-contact .user-names-text .last-message {
    font-size: 12px;
    color: #bec0c3;
    font-weight: 400;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.contact-list .single-contact .last-message-date {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    color: #b1b1b1;
    font-weight: 400;
    margin-top: 3px;
}

/* MAIN CONTENT (RIGHT) */
.main-content {
    /* width: calc( 100% - 350px); */
    width: 68%;
    height: 100%;
    overflow-y: hidden;
}

/* Contact Profile Top */
.contact-profile-top {
    height: 65px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.contact-profile-top .current-profile-container {
    display: flex;
    align-items: center;
}

.current-profile-container .user-avatar {
    height: 45px;
    width: 45px;
    margin-right: 10px;
}

.contact-profile-top .profile-icons {
    color: #b1b1b1;
}
.contact-profile-top .profile-icons i {
    margin: 0 5px;
    cursor: pointer;
}

/* Messages Content */
.messages-content {
    height: calc( 100% - 130px);
    background-image: url(../img/mine.jpg);
    overflow-y: auto;    
}
.messages-content .messages-content-container {
    padding: 60px 70px;
    display: flex;
    flex-direction: column;
}
.messages-content .single-message {
    font-size: 14px;
    font-weight: 400;
    padding: 8px 12px 7px;
    border-radius: 10px;
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}
.messages-content .single-message.received {
    background-color: #fff;
    align-self: flex-start;
}
.messages-content .single-message.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.messages-content .single-message .text-message {
    padding: 5px 20px 5px 0;
    word-wrap: break-word;
}

.messages-content .single-message .message-date {
    color: #bec0c3;
    font-size: 11px;
    align-self: flex-end
}

.messages-content .single-message .message-option-icon {
    position: absolute;
    top: 10px;
    right: 12px;
    color: #b4b7b9;
    cursor: pointer;
}
.messages-content .single-message .message-option-icon i {
    visibility: hidden;
}
.messages-content .single-message:hover .message-option-icon i {
    visibility: visible;    
}


.messages-content .single-message .message-options {
    background-color: white;
    position: absolute;
    right: 0;
    top: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26), 0 2px 10px 0 rgba(0, 0, 0, .16);
    z-index: 10;
    display: block;
}

.message-options ul {
    list-style-type: none;
}

.message-options ul li a {
    color: black;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    padding: 20px;
    white-space: nowrap;
}
.message-options ul li a:hover {
    background-color: #e9ebeb67;
}

/* Write Message */
.write-message {
    height: 65px;
    background-color: #f3eeea;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.write-message input {
    padding: 10px 10px;
    border-width: 0;
    border-radius: 4px;
    flex-grow: 1;
    margin: 0 30px;
    outline: none;
    font-family: 'Roboto';
}

.write-message i {
    font-size: 20px;
    color: #6a7376;
    cursor: pointer;
}


