<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  
    <!-- Root -->
    <div id="root">
        <!-- App Container -->
        <div class="app-container">
        
            <!-- Interface -->
            <div class="interface-container">

                <!-- NAVIGATION LEFT -->
                <div class="nav-left">

                    <!-- User Name -->
                    <div class="user-name">

                        <!-- User Text and Avatar Container -->
                        <div class="text-avatar-container">
                            <div class="user-avatar">
                                <img src="img/avatar_io.jpg" alt="avatar 1">
                            </div>
                            <div class="user-names-text">Nome Utente</div>
                        </div>                                                

                        <!-- Icons -->
                        <div class="user-name-icons">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>

                    </div>
                    <!-- End Of User Name -->

                    <!-- Notifications -->
                    <div class="notifications">

                        <div class="bell-container">                            
                                <i class="fas fa-bell-slash"></i>                                                       
                        </div>

                        <div class="notification-text-container">
                            <div class="receive-notifications">Ricevi notifiche di nuovi messaggi</div>
                            <div class="activate-notifications"><a href="#">Attiva notifiche dekstop</a></div>
                        </div>

                    </div>
                    <!-- End Of Notifications -->

                    <!-- Search Chat -->
                    <div class="search-chat">
                        <div class="search-container">
                            <label for="filter-contacts" class="search-icon">
                                <i class="fas fa-search"></i>
                            </label>
                            <input id="filter-contacts" type="text" 
                            placeholder="Cerca o inizia una nuova chat"
                            v-model="searchQuery"
                            @keyup="findContact"
                            >
                        </div>                        
                    </div>
                    <!-- End Of Search Chat -->

                    <!-- Contact List -->
                    <div class="contact-list">

                        <!-- Single Contact -->
                        <div v-for="(contact, index) in contacts" 
                        class="single-contact" 
                        @click="showIndex(index)" 
                        :class="{active : index == activeContactIndex}"
                        v-if="contacts[index].visible"
                        >
                            <div class="contact-active-container">
                                <div class="user-avatar">
                                    <img :src="'img/avatar' + contact.avatar + '.jpg'" :alt="'avatar' + contact.avatar">
                                </div>
                                <div class="user-names-text">
                                    {{contact.name}}
                                    <div class="last-message">{{printLastMessage(index)}}</div>                                
                                </div>
                                <div class="last-message-date">{{lastMessageProperty(index, 'date')}}</div>
                            </div>
                            
                            
                        </div>                                                 
        
                    </div>
                    <!-- End Of Contact List -->

                </div>
                <!-- END OF NAVIGATION LEFT -->

                <!-- MAIN CONTENT (RIGHT) -->
                <div class="main-content">

                    <!-- Contact Profile Top -->
                    <div class="contact-profile-top">
                        
                        <div class="current-profile-container">
                            <div class="user-avatar">
                                <img :src="'img/avatar' + contacts[activeContactIndex].avatar + '.jpg'" alt="">
                            </div>
                            <div class="text-container">
                                <div class="user-names-text">{{contacts[activeContactIndex].name}}</div>
                                <div class="last-access">Ultimo accesso il {{contacts[activeContactIndex].lastAccess}}</div>
                            </div>                            
                        </div>

                        <div class="profile-icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>

                    </div>
                    <!-- End Contact Profile Top -->

                    <!-- Messages Content -->
                    <div class="messages-content">                        
                        <div class="messages-content-container">

                            <!-- Single Message -->
                            <div 
                            v-for="(message, index) in contacts[activeContactIndex].messages" 
                            class="single-message" 
                            :class="message.status" 
                            v-if="message.status == 'sent' || message.status == 'received'"                                                      
                            >
                                <div class="text-message">
                                    {{message.text}}
                                </div>                            
                                <span class="message-date">{{message.date}}</span>

                                <div class="message-option-icon" @click="openOptions(message)">
                                    <i class="fas fa-chevron-down"></i>                                    
                                </div>
                                <div class="message-options" 
                                    v-if="contacts[activeContactIndex].messages[index].hasOptionsOpen"
                                    >
                                        <ul>
                                            <li>
                                                <a href="#">Info messaggio</a>
                                            </li>
                                            <li>
                                                <a @click="deleteMessage(index)" href="#">Cancella messaggio</a>
                                            </li>
                                        </ul>
                                    </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <!-- End Of Messages Content -->

                    <!-- Write Message -->
                    <div class="write-message">

                        <div class="smile-icon">
                            <i class="far fa-smile"></i>
                        </div>

                        <input type="text" 
                        placeholder="Scrivi un messaggio" 
                        v-model="newMessage"
                        @keyup.enter="sendMessage"
                        >

                        <div class="microphone">
                            <i class="fas fa-microphone"></i>
                        </div>
                    </div>
                    <!-- End Of Write Message -->

                </div>
                <!-- END OF MAIN CONTENT -->

            </div>
            <!-- End Interface -->

        </div>
        <!-- End App Container -->
    </div>
    

    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="js/script.js"></script>    
</body>
</html>

